{
    "presets": [
      ["@babel/env", {
        "targets": {
          "browsers": [
            ">0.25%",
            "not ie 11",
            "not op_mini all"
          ]
        }
      }]
    ],
    "plugins": [
      ["ramda", {
        "useES": true
      }],
      ["@babel/plugin-transform-runtime",
        {
          "regenerator": true
        }
      ],
      "@babel/plugin-syntax-dynamic-import"
    ]
  }