<div class="row">
    <form class="col s12 stock-form">
      <div class="row stock-input-row">
        <div class="input-field col s6">
          <input id="stock-input" type="text" class="validate">
          <label for="stock-input">Add stock by symbol</label>
        </div>
        <div class="col s6">
            <button class="btn-floating"><i class="material-icons">add</i></button>
        </div>
    </form>
  </div>